/NewFolder/203Lab2/nbproject/private/
/NewFolder/203Lab2/build/
/Greeter(lab2)/203Lab2/build/
/Greeter(lab2)/203Lab2/nbproject/private/
/Greeter(lab2)/203lab2/nbproject/private/
/Greeter(lab2)/203lab2/build/
/Greeter(lab2)/203lab2/dist/
/lab2/JUnit-Sample/nbproject/private/
/lab2/JUnit-Sample/build/
/Lab5Implementation/RentalSoftware/nbproject/private/
/HW2Country/JavaApplication8/nbproject/private/
/HW2Country/JavaApplication8/build/
/Lab7BankingApp/BankingApp/nbproject/private/
/Lab7BankingApp/BankingApp/build/